name: Build Docker Image and Deploy to Kubernetes

on:
  push:
    branches:
      - main
    paths:
      - 'Dockerfile'
      - 'nginx.conf'
      - 'src/**'
      - 'package.json'
      - 'vite.config.ts'
      - '.github/workflows/docker-build-k8s-apply.yml'

jobs:

  build-and-push:
    name: í°³ Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: noletengine/skillflight:latest

  deploy-to-k8s:
    name: íº€ Deploy to Kubernetes
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.28.0'

      - name: Decode and Use Kubeconfig
        run: |
          echo "$KUBECONFIG_CONTENT" | base64 -d > kubeconfig
          export KUBECONFIG=$PWD/kubeconfig
          kubectl apply -f ./k8s/skillflight/deployment.yaml
        env:
          KUBECONFIG_CONTENT: ${{ secrets.KUBECONFIG_B64 }}

